<a href="https://colab.research.google.com/github/azamaufar/supplychainDA/blob/main/EDA_Supply_Chain_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

There are many different analyses that can be performed to optimize a supply chain, depending on the specific goals and objectives of the business. Some of the most common analyses that are performed in supply chain management include:

1. Inventory analysis: This analysis is used to optimize inventory levels to minimize costs while ensuring that the business has enough inventory to meet customer demand.

2. Demand forecasting: This analysis involves using historical data and other variables to predict future demand for products. This can help businesses optimize production schedules, inventory levels, and transportation routes.

3. Supply chain network design: This analysis involves designing an optimal supply chain network that minimizes transportation costs while ensuring timely delivery of goods.

4. Cost-to-serve analysis: This analysis involves calculating the costs associated with serving different customers or regions to identify areas where costs can be minimized.

5. Transportation analysis: This analysis involves optimizing transportation routes, modes, and carriers to minimize transportation costs while ensuring timely delivery of goods.

6. Supplier analysis: This analysis involves evaluating the performance of suppliers based on factors such as quality, delivery times, and cost, to identify areas where improvements can be made.

7. Risk management analysis: This analysis involves identifying potential risks to the supply chain, such as disruptions in transportation or production, and developing strategies to mitigate those risks.

Overall, the specific analyses performed will depend on the goals and objectives of the business, as well as the nature of the supply chain. However, by performing these and other analyses, businesses can optimize their supply chains, reduce costs, and improve customer satisfaction.

Based on the available data, you can still perform some analyses, including:

1. Cost-to-serve analysis: You can calculate the cost of serving different customers or regions by analyzing the 'Sales' and 'Order Profit Per Order' columns. These columns can help you identify areas where costs can be minimized, such as by reducing shipping times or optimizing transportation routes.

2. Inventory analysis: You can use the 'Sales' and 'Order Item Quantity' columns to analyze inventory levels and ensure that you have enough inventory to meet customer demand. By understanding the demand patterns, you can optimize production schedules and inventory levels.

3. Supplier analysis: Although you may not have data specifically related to suppliers, you can use the 'Product Name' and 'Product Price' columns to evaluate the performance of different products. By analyzing product quality, pricing, and popularity, you can identify which products are most profitable and adjust your product mix accordingly.

4. Demand forecasting: You can use historical data from the 'Sales' column to predict future demand for products. This can help you optimize production schedules, inventory levels, and transportation routes.

5. Transportation analysis: You can analyze the 'Days for shipping (real)' and 'Days for shipment (scheduled)' columns to optimize transportation routes, modes, and carriers. By reducing transportation costs and improving delivery times, you can enhance customer satisfaction.

Overall, while there may be some limitations due to the data available, you can still perform several analyses to optimize your supply chain and reduce costs.

# Phase 1: Data Cleaning and Preparation
In this phase, the data will be cleaned and prepared for analysis. The accuracy and completeness of the data will be verified, and the data will be formatted suitably for analysis.

Import necessary library

In [ ]:
# import library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from statistics import mode

from IPython.display import Image
sns.set(style="darkgrid")

In [ ]:
# Import dataset
df=pd.read_excel('/content/drive/MyDrive/Supply Chain Dataset.xlsx', sheet_name=1)

In [ ]:
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-02-03 22:56:00,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-01-18 12:27:00,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-01-17 12:06:00,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-01-16 11:45:00,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2018-01-15 11:24:00,Standard Class

Dataset Description

|FIELDS| DESCRIPTION |
|------|-------------|
|Type|  Type of transaction made |
|Days for shipping (real)|  Actual shipping days of the purchased product|
|Days for shipment (scheduled)|  Days of scheduled delivery of the purchased product|
|Benefit per order|  Earnings per order placed|
|Sales per customer|  Total sales per customer made per customer|
|Delivery Status|  Delivery status of orders: Advance shipping , Late delivery , Shipping canceled , Shipping on time"|
|Late_delivery_risk|  Categorical variable that indicates if sending is late (1), it is not late (0)."|
|Category Id|  Product category code|
|Category Name|  Description of the product category|
|Customer City|  City where the customer made the purchase|
|Customer Country|  Country where the customer made the purchase|
|Customer Email|  Customer's email|
|Customer Fname|  Customer name|
|Customer Id|  Customer ID|
|Customer Lname|  Customer lastname|
|Customer Password|  Masked customer key|
|Customer Segment|  Types of Customers: Consumer , Corporate , Home Office"|
|Customer State|  State to which the store where the purchase is registered belongs|
|Customer Street|  Street to which the store where the purchase is registered belongs|
|Customer Zipcode|  Customer Zipcode|
|Department Id|  Department code of store|
|Department Name|  Department name of store|
|Latitude|  Latitude corresponding to location of store|
|Longitude|  Longitude corresponding to location of store|
|Market|  Market to where the order is delivered : Africa , Europe , LATAM , Pacific Asia , USCA"|
|Order City|  Destination city of the order|
|Order Country|  Destination country of the order|
|Order Customer Id|  Customer order code|
|order date (DateOrders)|  Date on which the order is made|
|Order Id|  Order code|
|Order Item Cardprod Id|  Product code generated through the RFID reader|
|Order Item Discount|  Order item discount value|
|Order Item Discount Rate|  Order item discount percentage|
|Order Item Id|  Order item code|
|Order Item Product Price|  Price of products without discount|
|Order Item Profit Ratio|  Order Item Profit Ratio|
|Order Item Quantity|  Number of products per order|
|Sales|  Value in sales|
|Order Item Total|  Total amount per order|
|Order Profit Per Order|  Order Profit Per Order|
|Order Region|  Region of the world where the order is delivered :  Southeast Asia ,South Asia ,Oceania ,Eastern Asia, West Asia , West of USA , US Center , West Africa, Central Africa ,North Africa ,Western Europe ,Northern , Caribbean , South America ,East Africa ,Southern Europe , East of USA ,Canada ,Southern Africa , Central Asia ,  Europe , Central America, Eastern Europe , South of  USA "|
|Order State|  State of the region where the order is delivered|
|Order Status|  Order Status : COMPLETE , PENDING , CLOSED , PENDING_PAYMENT ,CANCELED , PROCESSING ,SUSPECTED_FRAUD ,ON_HOLD ,PAYMENT_REVIEW"|
|Product Card Id|  Product code|
|Product Category Id|  Product category code|
|Product Description|  Product Description|
|Product Image|  Link of visit and purchase of the product|
|Product Name|  Product Name|
|Product Price|  Product Price|
|Product Status|  Status of the product stock :If it is 1 not available , 0 the product is available "|
|Shipping date (DateOrders)|  Exact date and time of shipment|
|Shipping Mode|  The following shipping modes are presented : Standard Class , First Class , Second Class , Same Day"|

In [ ]:
# information of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  datetime64[ns]
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Description            0 non-null       float64
 47  Product Image                  180519 non-null  object
 48  Product Name                   180519 non-null  object
 49  Product Price                  180519 non-null  float64
 50  Product Status                 180519 non-null  int64
 51  shipping date (DateOrders)     180519 non-null  datetime64[ns]
 52  Shipping Mode                  180519 non-null  object
dtypes: datetime64[ns](2), float64(15), int64(14), object(22)
memory usage: 73.0+ MB

In [ ]:
df.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Columns: 53 entries, Type to Shipping Mode
dtypes: datetime64[ns](2), float64(15), int64(14), object(22)
memory usage: 310.8 MB

In [ ]:
df['Order Country'].unique()

array(['Indonesia', 'India', 'Australia', 'China', 'Japón',
       'Corea del Sur', 'Singapur', 'Turquía', 'Mongolia',
       'Estados Unidos', 'Nigeria', 'República Democrática del Congo',
       'Senegal', 'Marruecos', 'Alemania', 'Francia', 'Países Bajos',
       'Reino Unido', 'Guatemala', 'El Salvador', 'Panamá',
       'República Dominicana', 'Venezuela', 'Colombia', 'Honduras',
       'Brasil', 'México', 'Uruguay', 'Argentina', 'Cuba', 'Perú',
       'Nicaragua', 'Ecuador', 'Angola', 'Sudán', 'Somalia',
       'Costa de Marfil', 'Egipto', 'Italia', 'España', 'Suecia',
       'Austria', 'Canada', 'Madagascar', 'Argelia', 'Liberia', 'Zambia',
       'Níger', 'SudAfrica', 'Mozambique', 'Tanzania', 'Ruanda', 'Israel',
       'Nueva Zelanda', 'Bangladés', 'Tailandia', 'Irak', 'Arabia Saudí',
       'Filipinas', 'Kazajistán', 'Irán', 'Myanmar (Birmania)',
       'Uzbekistán', 'Benín', 'Camerún', 'Kenia', 'Togo', 'Ucrania',
       'Polonia', 'Portugal', 'Rumania', 'Trinidad y Tobago',
       'Afganistán', 'Pakistán', 'Vietnam', 'Malasia', 'Finlandia',
       'Rusia', 'Irlanda', 'Noruega', 'Eslovaquia', 'Bélgica', 'Bolivia',
       'Chile', 'Jamaica', 'Yemen', 'Ghana', 'Guinea', 'Etiopía',
       'Bulgaria', 'Kirguistán', 'Georgia', 'Nepal',
       'Emiratos Árabes Unidos', 'Camboya', 'Uganda', 'Lesoto',
       'Lituania', 'Suiza', 'Hungría', 'Dinamarca', 'Haití',
       'Bielorrusia', 'Croacia', 'Laos', 'Baréin', 'Macedonia',
       'República Checa', 'Sri Lanka', 'Zimbabue', 'Eritrea',
       'Burkina Faso', 'Costa Rica', 'Libia', 'Barbados', 'Tayikistán',
       'Siria', 'Guadalupe', 'Papúa Nueva Guinea', 'Azerbaiyán',
       'Turkmenistán', 'Paraguay', 'Jordania', 'Hong Kong', 'Martinica',
       'Moldavia', 'Qatar', 'Mali', 'Albania', 'República del Congo',
       'Bosnia y Herzegovina', 'Omán', 'Túnez', 'Sierra Leona', 'Yibuti',
       'Burundi', 'Montenegro', 'Gabón', 'Sudán del Sur', 'Luxemburgo',
       'Namibia', 'Mauritania', 'Grecia', 'Suazilandia', 'Guyana',
       'Guayana Francesa', 'República Centroafricana', 'Taiwán',
       'Estonia', 'Líbano', 'Chipre', 'Guinea-Bissau', 'Surinam',
       'Belice', 'Eslovenia', 'República de Gambia', 'Botsuana',
       'Armenia', 'Guinea Ecuatorial', 'Kuwait', 'Bután', 'Chad',
       'Serbia', 'Sáhara Occidental'], dtype=object)

we'll translate countries name from esp to eng

In [ ]:
countries_esp = ['Indonesia', 'India', 'Australia', 'China', 'Japón',
       'Corea del Sur', 'Singapur', 'Turquía', 'Mongolia',
       'Estados Unidos', 'Nigeria', 'República Democrática del Congo',
       'Senegal', 'Marruecos', 'Alemania', 'Francia', 'Países Bajos',
       'Reino Unido', 'Guatemala', 'El Salvador', 'Panamá',
       'República Dominicana', 'Venezuela', 'Colombia', 'Honduras',
       'Brasil', 'México', 'Uruguay', 'Argentina', 'Cuba', 'Perú',
       'Nicaragua', 'Ecuador', 'Angola', 'Sudán', 'Somalia',
       'Costa de Marfil', 'Egipto', 'Italia', 'España', 'Suecia',
       'Austria', 'Canada', 'Madagascar', 'Argelia', 'Liberia', 'Zambia',
       'Níger', 'SudAfrica', 'Mozambique', 'Tanzania', 'Ruanda', 'Israel',
       'Nueva Zelanda', 'Bangladés', 'Tailandia', 'Irak', 'Arabia Saudí',
       'Filipinas', 'Kazajistán', 'Irán', 'Myanmar (Birmania)',
       'Uzbekistán', 'Benín', 'Camerún', 'Kenia', 'Togo', 'Ucrania',
       'Polonia', 'Portugal', 'Rumania', 'Trinidad y Tobago',
       'Afganistán', 'Pakistán', 'Vietnam', 'Malasia', 'Finlandia',
       'Rusia', 'Irlanda', 'Noruega', 'Eslovaquia', 'Bélgica', 'Bolivia',
       'Chile', 'Jamaica', 'Yemen', 'Ghana', 'Guinea', 'Etiopía',
       'Bulgaria', 'Kirguistán', 'Georgia', 'Nepal',
       'Emiratos Árabes Unidos', 'Camboya', 'Uganda', 'Lesoto',
       'Lituania', 'Suiza', 'Hungría', 'Dinamarca', 'Haití',
       'Bielorrusia', 'Croacia', 'Laos', 'Baréin', 'Macedonia',
       'República Checa', 'Sri Lanka', 'Zimbabue', 'Eritrea',
       'Burkina Faso', 'Costa Rica', 'Libia', 'Barbados', 'Tayikistán',
       'Siria', 'Guadalupe', 'Papúa Nueva Guinea', 'Azerbaiyán',
       'Turkmenistán', 'Paraguay', 'Jordania', 'Hong Kong', 'Martinica',
       'Moldavia', 'Qatar', 'Mali', 'Albania', 'República del Congo',
       'Bosnia y Herzegovina', 'Omán', 'Túnez', 'Sierra Leona', 'Yibuti',
       'Burundi', 'Montenegro', 'Gabón', 'Sudán del Sur', 'Luxemburgo',
       'Namibia', 'Mauritania', 'Grecia', 'Suazilandia', 'Guyana',
       'Guayana Francesa', 'República Centroafricana', 'Taiwán',
       'Estonia', 'Líbano', 'Chipre', 'Guinea-Bissau', 'Surinam',
       'Belice', 'Eslovenia', 'República de Gambia', 'Botsuana',
       'Armenia', 'Guinea Ecuatorial', 'Kuwait', 'Bután', 'Chad',
       'Serbia', 'Sáhara Occidental']

In [ ]:
countries_en = ['Indonesia', 'India', 'Australia', 'China', 'Japan',
       'South Korea', 'Singapore', 'Turkey', 'Mongolia',
       'United States', 'Nigeria', 'Democratic Republic of the Congo',
       'Senegal', 'Morocco', 'Germany', 'France', 'Netherlands',
       'United Kingdom', 'Guatemala', 'El Salvador', 'Panama',
       'Dominican Republic', 'Venezuela', 'Colombia', 'Honduras',
       'Brazil', 'Mexico', 'Uruguay', 'Argentina', 'Cuba', 'Peru',
       'Nicaragua', 'Ecuador', 'Angola', 'Sudan', 'Somalia',
       'Ivory Coast', 'Egypt', 'Italy', 'Spain', 'Sweden',
       'Austria', 'Canada', 'Madagascar', 'Algeria', 'Liberia', 'Zambia',
       'Niger', 'South Africa', 'Mozambique', 'Tanzania', 'Rwanda', 'Israel',
       'New Zealand', 'Bangladesh', 'Thailand', 'Iraq', 'Saudi Arabia',
       'Philippines', 'Kazakhstan', 'Iran', 'Myanmar (Burma)',
       'Uzbekistan', 'Benin', 'Cameroon', 'Kenya', 'Togo', 'Ukraine',
       'Poland', 'Portugal', 'Romania', 'Trinidad and Tobago',
       'Afghanistan', 'Pakistan', 'Vietnam', 'Malaysia', 'Finland',
       'Russia', 'Ireland', 'Norway', 'Slovakia', 'Belgium', 'Bolivia',
       'Chile', 'Jamaica', 'Yemen', 'Ghana', 'Guinea', 'Ethiopia',
       'Bulgaria', 'Kyrgyzstan', 'Georgia', 'Nepal',
       'United Arab Emirates', 'Cambodia', 'Uganda', 'Lesotho',
       'Lithuania', 'Switzerland', 'Hungary', 'Denmark', 'Haiti',
       'Belarus', 'Croatia', 'Laos', 'Bahrain', 'Macedonia',
       'Czech Republic', 'Sri Lanka', 'Zimbabwe', 'Eritrea',
       'Burkina Faso', 'Costa Rica', 'Libya', 'Barbados', 'Tajikistan',
       'Syria', 'Guadeloupe', 'Papua New Guinea', 'Azerbaijan',
       'Turkmenistan', 'Paraguay', 'Jordan', 'Hong Kong', 'Martinique',
       'Moldova', 'Qatar', 'Mali', 'Albania', 'Republic of the Congo',
       'Bosnia and Herzegovina', 'Oman', 'Tunisia', 'Sierra Leone', 'Djibouti',
       'Burundi', 'Montenegro', 'Gabon', 'South Sudan', 'Luxembourg',
       'Namibia', 'Mauritania', 'Greece', 'Swaziland', 'Guyana',
       'French Guiana', 'Central African Republic', 'Taiwan',
       'Estonia', 'Lebanon', 'Cyprus', 'Guinea-Bissau', 'Suriname',
       'Belize', 'Slovenia', 'Republic of The Gambia', 'Botswana',
       'Armenia', 'Equatorial Guinea', 'Kuwait', 'Bhutan', 'Chad',
       'Serbia', 'Western Sahara']

In [ ]:
countries_dict = {}
for i in range(len(countries_esp)):
    countries_dict[countries_esp[i]] = countries_en[i]

print(countries_dict)

{'Indonesia': 'Indonesia', 'India': 'India', 'Australia': 'Australia', 'China': 'China', 'Japón': 'Japan', 'Corea del Sur': 'South Korea', 'Singapur': 'Singapore', 'Turquía': 'Turkey', 'Mongolia': 'Mongolia', 'Estados Unidos': 'United States', 'Nigeria': 'Nigeria', 'República Democrática del Congo': 'Democratic Republic of the Congo', 'Senegal': 'Senegal', 'Marruecos': 'Morocco', 'Alemania': 'Germany', 'Francia': 'France', 'Países Bajos': 'Netherlands', 'Reino Unido': 'United Kingdom', 'Guatemala': 'Guatemala', 'El Salvador': 'El Salvador', 'Panamá': 'Panama', 'República Dominicana': 'Dominican Republic', 'Venezuela': 'Venezuela', 'Colombia': 'Colombia', 'Honduras': 'Honduras', 'Brasil': 'Brazil', 'México': 'Mexico', 'Uruguay': 'Uruguay', 'Argentina': 'Argentina', 'Cuba': 'Cuba', 'Perú': 'Peru', 'Nicaragua': 'Nicaragua', 'Ecuador': 'Ecuador', 'Angola': 'Angola', 'Sudán': 'Sudan', 'Somalia': 'Somalia', 'Costa de Marfil': 'Ivory Coast', 'Egipto': 'Egypt', 'Italia': 'Italy', 'España': 'Spain', 'Suecia': 'Sweden', 'Austria': 'Austria', 'Canada': 'Canada', 'Madagascar': 'Madagascar', 'Argelia': 'Algeria', 'Liberia': 'Liberia', 'Zambia': 'Zambia', 'Níger': 'Niger', 'SudAfrica': 'South Africa', 'Mozambique': 'Mozambique', 'Tanzania': 'Tanzania', 'Ruanda': 'Rwanda', 'Israel': 'Israel', 'Nueva Zelanda': 'New Zealand', 'Bangladés': 'Bangladesh', 'Tailandia': 'Thailand', 'Irak': 'Iraq', 'Arabia Saudí': 'Saudi Arabia', 'Filipinas': 'Philippines', 'Kazajistán': 'Kazakhstan', 'Irán': 'Iran', 'Myanmar (Birmania)': 'Myanmar (Burma)', 'Uzbekistán': 'Uzbekistan', 'Benín': 'Benin', 'Camerún': 'Cameroon', 'Kenia': 'Kenya', 'Togo': 'Togo', 'Ucrania': 'Ukraine', 'Polonia': 'Poland', 'Portugal': 'Portugal', 'Rumania': 'Romania', 'Trinidad y Tobago': 'Trinidad and Tobago', 'Afganistán': 'Afghanistan', 'Pakistán': 'Pakistan', 'Vietnam': 'Vietnam', 'Malasia': 'Malaysia', 'Finlandia': 'Finland', 'Rusia': 'Russia', 'Irlanda': 'Ireland', 'Noruega': 'Norway', 'Eslovaquia': 'Slovakia', 'Bélgica': 'Belgium', 'Bolivia': 'Bolivia', 'Chile': 'Chile', 'Jamaica': 'Jamaica', 'Yemen': 'Yemen', 'Ghana': 'Ghana', 'Guinea': 'Guinea', 'Etiopía': 'Ethiopia', 'Bulgaria': 'Bulgaria', 'Kirguistán': 'Kyrgyzstan', 'Georgia': 'Georgia', 'Nepal': 'Nepal', 'Emiratos Árabes Unidos': 'United Arab Emirates', 'Camboya': 'Cambodia', 'Uganda': 'Uganda', 'Lesoto': 'Lesotho', 'Lituania': 'Lithuania', 'Suiza': 'Switzerland', 'Hungría': 'Hungary', 'Dinamarca': 'Denmark', 'Haití': 'Haiti', 'Bielorrusia': 'Belarus', 'Croacia': 'Croatia', 'Laos': 'Laos', 'Baréin': 'Bahrain', 'Macedonia': 'Macedonia', 'República Checa': 'Czech Republic', 'Sri Lanka': 'Sri Lanka', 'Zimbabue': 'Zimbabwe', 'Eritrea': 'Eritrea', 'Burkina Faso': 'Burkina Faso', 'Costa Rica': 'Costa Rica', 'Libia': 'Libya', 'Barbados': 'Barbados', 'Tayikistán': 'Tajikistan', 'Siria': 'Syria', 'Guadalupe': 'Guadeloupe', 'Papúa Nueva Guinea': 'Papua New Guinea', 'Azerbaiyán': 'Azerbaijan', 'Turkmenistán': 'Turkmenistan', 'Paraguay': 'Paraguay', 'Jordania': 'Jordan', 'Hong Kong': 'Hong Kong', 'Martinica': 'Martinique', 'Moldavia': 'Moldova', 'Qatar': 'Qatar', 'Mali': 'Mali', 'Albania': 'Albania', 'República del Congo': 'Republic of the Congo', 'Bosnia y Herzegovina': 'Bosnia and Herzegovina', 'Omán': 'Oman', 'Túnez': 'Tunisia', 'Sierra Leona': 'Sierra Leone', 'Yibuti': 'Djibouti', 'Burundi': 'Burundi', 'Montenegro': 'Montenegro', 'Gabón': 'Gabon', 'Sudán del Sur': 'South Sudan', 'Luxemburgo': 'Luxembourg', 'Namibia': 'Namibia', 'Mauritania': 'Mauritania', 'Grecia': 'Greece', 'Suazilandia': 'Swaziland', 'Guyana': 'Guyana', 'Guayana Francesa': 'French Guiana', 'República Centroafricana': 'Central African Republic', 'Taiwán': 'Taiwan', 'Estonia': 'Estonia', 'Líbano': 'Lebanon', 'Chipre': 'Cyprus', 'Guinea-Bissau': 'Guinea-Bissau', 'Surinam': 'Suriname', 'Belice': 'Belize', 'Eslovenia': 'Slovenia', 'República de Gambia': 'Republic of The Gambia', 'Botsuana': 'Botswana', 'Armenia': 'Armenia', 'Guinea Ecuatorial': 'Equatorial Guinea', 'Kuwait': 'Kuwait', 'Bután': 'Bhutan', 'Chad': 'Chad', 'Serbia': 'Serbia', 'Sáhara Occidental': 'Western Sahara'}

In [ ]:
df['Order Country'] = df['Order Country'].map(countries_dict)

In [ ]:
df['Customer Country'] = df['Customer Country'].map(countries_dict)

# Phase 2: Data Analysis
In this phase, the data will be analyzed to identify patterns and trends. Statistical techniques will be used to identify areas of improvement in the supply chain management process. Key performance indicators (KPIs) will be identified to measure the success of the optimization process.

In [ ]:
# group the sales by country and sum the sales for each country
sales_by_country = df.groupby('Order Country')['Sales'].sum()

# sort the countries by sales in descending order and select the top 10
top_10_countries = sales_by_country.sort_values(ascending=False).head(10)

# create a new dataframe with the top 10 countries and their sales in million dollars
top_10_df = pd.DataFrame({'Country': top_10_countries.index, 'Sales (in million dollars)': top_10_countries.values / 1000000})

print(top_10_df)

          Country  Sales (in million dollars)
0   United States                    4.879668
1          France                    2.879942
2          Mexico                    2.633195
3         Germany                    2.074172
4       Australia                    1.694622
5  United Kingdom                    1.612095
6          Brazil                    1.594320
7           China                    1.172902
8           Italy                    1.072182
9           India                    0.962397

In [ ]:
df[['Sales', 'Order Profit Per Order', 'Benefit per order']].describe()

               Sales  Order Profit Per Order  Benefit per order
count  180519.000000           180519.000000      180519.000000
mean      203.772096               21.974989          21.974989
std       132.273077              104.433526         104.433526
min         9.990000            -4274.979980       -4274.979980
25%       119.980003                7.000000           7.000000
50%       199.919998               31.520000          31.520000
75%       299.950012               64.800003          64.800003
max      1999.989990              911.799988         911.799988